@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("../assets/imgs/bg.jpg");
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-btn, .bg-btn:hover {
  background: #1283C8 !important;
  color: white !important;
}

.map-height {
  height: 700px;
}

.home-header {
  background: #EFEFEFCC;
}
.home-button, .home-button:hover {
  background: #909090 !important;
  color: white !important;
}
img, video {
  max-width: none;
}
.logout-button, .logout-button:hover, .logout-button:active {
  background-color: white !important;
}

.mlh {
  height: 512px;
}

.map-bg {
  background-color: #ece9e6;
}

.h-customButton {
  height: 34px;
  border: 1px #6B7280 solid !important;
}
.noBorder, .noBorder:focus {
  outline: transparent !important;
  border: transparent !important;
}
.noArrow::-webkit-inner-spin-button, .noArrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.noArrow {
  -moz-appearance: textfield;
}

.add-location-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
